
.divanimate {
  animation: Anima 2s 0s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
 }
 @keyframes Anima {
   from{
   transform: translateY(50px);
     opacity: 0;
    
   }
   to{
     transform: translateY(0px);
     opacity: 1;
    
   }
 }
 .divanimate1 {
  animation: Anima1 2s 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
 }
 @keyframes Anima1 {
   from{
   transform: translateY(50px);
     opacity: 0;
    
   }
   to{
     transform: translateY(0px);
     opacity: 1;
    
   }
 }
 .divanimate2 {
  animation: Anima2 2s 2s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
 }
 @keyframes Anima2 {
   from{
   transform: translateY(50px);
     opacity: 0;
    
   }
   to{
     transform: translateY(0px);
     opacity: 1;
    
   }
 }
 .divanimate3 {
  animation: Anima3 2s 3s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
 }
 @keyframes Anima3 {
   from{
   transform: translateY(50px);
     
    
   }
   to{
     transform: translateY(0px);
     
    
   }
 }
 .divanimate4 {
  animation: Anima4 2s 4s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
 }
 @keyframes Anima4 {
   from{
   transform: translateY(50px);
     opacity: 0;
    
   }
   to{
     transform: translateY(0px);
     opacity: 1;
    
   }
 }